

.fancy-header
{
    /*color: #00F; !* single line comment *!*/
    text-decoration: underline;
    text-align: center;
    font-style: italic;
}
/*element selector*/
h2 {
    text-decoration: underline;
    color: blue;
}

#container1{
    color: #00F;
    text-decoration: underline;
}

/*to change background use "body" element*/
body {
    font-family: 'Lacquer', serif;
    font-size: 1.2em;
    background-color: green;
    /*use "COPY IMAGE ADDRESS!! not LINK ADD*/
    background-image: url("https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252__340.jpg");
    /*              width height in % */
    background-size: 100% 50%;
    /*after background img, background color shows up*/
    background-repeat: no-repeat;
}

ul {
    list-style: square;
}

tr>td {
    font-size: 30px;
    padding: 10px;
}

a{
    color: lightcoral;
}

/*To do hover  "a:" :*/
a:hover {
    background-color: mediumspringgreen;
}

a:link {
    color: red;
}

a:visited {
    color: blueviolet;
}

a:active {
    background-color: orange;
}